/*-------------------------------------------
  -- Styling - Colors, Font Size, Font Family
-------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

:root {
  --color-white: #fff;
  --color-white-text: rgba( var(--color-white), .6 );
  --color-primary: #0025B4E8f;
  --color-black: #191919;
  --color-grey: #9e9e9e;
  --color-grey-light: rgba(0,0,0,.1);
  --color-light: #f6f6f6;
  --color-background: #f8f8f8;
  --color-text-light: rgba(#000, .5);
}

body {
  background-color: var(--color-light);
  color: var(--color-black);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

html {
  font-size: 95%;
  font-size: 85% ?if media (min-width: 576px) and (max-width: 767px);
  font-size: 90% ?if media (min-width: 768px) and (max-width: 991px);
  font-size: 95% ?if media (min-width: 992px) and (max-width: 1199px);
  font-size: 100% ?if media (min-width: 1200px);
}

h1, .h1 {
  font-weight: 300;
  font-size: 30px;

  font-size: 30px ?if media (min-width: 576px) and (max-width: 767px);
  font-size: 28px ?if media (min-width: 768px) and (max-width: 991px);
  font-size: 30px ?if media (min-width: 992px) and (max-width: 1199px);
  font-size: 36px ?if media (min-width: 1200px);

  margin-bottom: 20px ?if media (max-width: 575px);
  margin-bottom: 30px ?if media (min-width: 576px) and (max-width: 991px);
  margin-bottom: 40px ?if media (min-width: 992px);
}
.ts-homepage {
  h1 {
    font-size: 32px ?if media (min-width: 768px) and (max-width: 991px);
    font-size: 48px ?if media (min-width: 992px) and (max-width: 1199px);
    font-size: 64px ?if media (min-width: 1200px);
    margin-top: 16px;
  }
}

h2, .h2 {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 1.5rem;
}

h3, .h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;

  margin-bottom: 1rem;
  padding-bottom: .5rem;
}

h4, .h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  margin-bottom: 32px;
}

h5, .h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

h6, .h6 {
  font-size: 15px;
}
