/* -- Footer */

#ts-footer {
  background-color: var(--color-white);
  box-shadow: var(--bs-md);
  margin-top: 1rem;

  address {
    line-height: 24px;
  }

  #ts-footer-main {
    padding-bottom: 64px;
    padding-top: 64px;
    nav {
      opacity: .5;
      .nav-link {
        padding-left: 0;
      }
    }
  }
  #ts-footer-secondary {
    border-top: 1px solid var(--color-grey-light);
    font-size: 13px;
    padding-bottom: 16px;
    padding-top: 16px;
    .container {
      display: flex ?if media (min-width: 576px);
      justify-content: space-between;
      align-items: center;
    }
  }

  .brand {
    display: inline-block;
    margin-bottom: 1.875rem;
  }

}
