/* -- Result */

#ts-results {
  height: 100%;
  position: relative;
}

.ts-results-wrapper {
  height: 100%;
  position: absolute;
  width: 100%;

}

/* ====================================================================================================================
  VERTICAL Results
 */

.ts-results__vertical {
  position: relative;
  height: 100% !important;

  > .scroll-content {
    overflow-x: hidden !important;
  }
}


.scrollbar-inner {

  &:hover {
    > .scroll-element {
      opacity: 1;
    }
  }
  > .scroll-element {
    opacity: 0;
    transition: var(--tr);
  }
  > .scroll-element.scroll-y {
    height: calc(100% - 16px);
    top: 8px;
    width: 4px;
    right: 6px;
  }
}


/* ====================================================================================================================
  GRID Results
 */

.ts-results__grid {

  &.scroll-wrapper {

    position: absolute !important;
    position: relative !important ?if media (min-width: 576px);

    transform: translateX( calc( 100% - 3rem ) );
    transform: translateX(0) ?if media (min-width: 576px);
    transition: .4s transform ease;

    .scrollbar-inner {
      padding-right: 4rem;
      padding-right: 0 ?if media (min-width: 576px);
    }

    &.ts-expanded {
      transform: translateX(4rem);
      .ts-result {
        pointer-events: auto;
      }
    }
  }

  .ts-results-wrapper {
    padding: 16px;
  }

  .ts-form__grid {
    padding: 16px;
    padding: 32px ?if media (min-width: 300px);
  }

  .ts-sly-frame {
    position: absolute;
    padding: 16px;
    width: 100%;
    height: 100%;
  }

  .ts-result-link {
    display: inline-block;
    margin: 16px;
    width: calc(100% - 24px) ;
    width: calc(50% - 32px) ?if media (min-width: 992px) and (max-width: 1199px);
    width: calc(33.33% - 32px) ?if media (min-width: 1200px);
  }

  .ts-item__info-badge {
    top: -14px;
    bottom: inherit;
  }

  .ts-item__info {
    bottom: inherit;
    left: 0;
    top: 0;
    transform: translateY(-100%);
  }

  .card-img {
    background-size: cover;
  }

}

/* ====================================================================================================================
  HORIZONTAL Results
 */

.ts-results__horizontal {
  min-height: 144px;
  width: 100%;
  white-space: nowrap;

  .scroll-element.scroll-x {
    bottom: 8px;
    height: 6px;
    left: 8px;
    width: calc( 100% - 16px);
  }

  .ts-results-wrapper {
    padding-top: 16px;
  }

  .ts-result-link {
    display: inline-flex;
  }

}

/* ====================================================================================================================
  Horizontal Results in Map
 */

.ts-map {
  .ts-results__horizontal {
    bottom: 7.5rem;
    left: 0;
    height: 0;
    position: absolute;
    z-index: 1;
  }
}

/* ====================================================================================================================
  HORIZONTAL Results Elements
 */

.ts-results__horizontal, .ts-results__vertical-list {
  .ts-result {
    border-radius: var(--br-sm);
    display: inline-flex;
    flex-direction: row;
    white-space: normal;
    margin: 4px;
    width: 19rem;

    height: 6rem;

    h4 {
      font-size: 1rem;
      margin-bottom: 4px;
      line-height: 22px;
    }

    aside {
      opacity: .5;
      font-size: 12px;
    }

    .card-body {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 18px 16px;
    }

    .card-img {
      border-radius: var(--br-sm);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-size: cover;
      height: 100%;
      float: left;
      position: relative;
      width: 4rem;
      z-index: 1;
      &:before, &:after {
        display: none;
      }
    }

    .card-footer {
      display: none;
    }

    .ts-item__info-badge {
      background-color: darken( var(--color-primary), .3 );
      bottom: inherit;
      color: #fff;
      top: -12px;
      left: 1rem;
    }

    .ts-item__info {
      color: var(--color-black);
      overflow: visible;
      padding: 0;
      position: relative;
      bottom: inherit;
    }

    .ts-description-lists {
      display: none;
      border-top: 1px solid rgba( var(--color-black), .1 );
      padding-top: 8px;

      dl {
        margin-bottom: 0;
        margin-right: 8px;
      }
      dt {
        font-size: 11px;
        opacity: .5;
      }
      dd {
        font-size: 11px;
        margin-bottom: 0;
      }
    }

    .ts-ribbon {
      right: inherit;
      left: 8px;
    }

  }
}

/* ====================================================================================================================
  VERTICAL LIST Results
 */

.ts-results__vertical-list {
  box-shadow: var(--bs-sm);
  z-index: 1;

  width: 100%;
  position: absolute !important;

  width: 28rem ?if media (min-width: 576px) and (max-width: 767px);
  width: 30rem ?if media (min-width: 768px) and (max-width: 991px);
  width: 32rem ?if media (min-width: 992px) and (max-width: 1199px);
  width: 34rem ?if media (min-width: 1200px);

  &.scroll-wrapper {

    transform: translateX( calc( -100% + 3rem ) );
    transform: translateX(0) ?if media (min-width: 576px);
    transition: .4s transform ease;

    .scrollbar-inner {
      padding-left: 4rem;
      padding-left: 0 ?if media (min-width: 576px);
    }

    &.ts-expanded {
      transform: translateX(-4rem);
      .ts-result {
        pointer-events: auto;
      }
    }
  }

  .ts-result {
    border-top: 1px solid rgba( var(--color-black), .1 );
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 16px;

    pointer-events: none;
    pointer-events: auto ?if media (min-width: 576px);

    &:hover {
      box-shadow: var(--bs-md);
      background-color: var(--color-background);
    }

    .card-img {
      border-radius: var(--br-sm);
      box-shadow: var(--bs-sm);
      width: 100%;
      height: 10rem;
    }

    .card-body {
      padding: 24px 0 0 0;
    }

    .ts-description-lists {
      display: block;
      right: 0;
      border: none;
      padding-left: 0;
      top: 0;
      position: relative;
      padding-top: 8px;
      padding-bottom: 8px;

      dt {
        font-size: 12px;
      }
      dd {
        font-size: 12px;
        margin-bottom: 8px;
      }
    }

    .ts-item__info-badge {
      background-color: var(--color-white);
      color: inherit;
      top: -14px;
    }

    .ts-ribbon {
      right: 8px;
      left: inherit;
      transform: scale(.8);
      top: -14px;
    }
    .ts-ribbon-corner {
      top: 0;
      &:before {
        display: none;
      }
    }

  }

}

.ts-center-marker {
  display: none;
  padding: 2px 8px;
  right: 6px;
  top: 6px;
  position: absolute;
  transition: var(--tr);
  opacity: .3;
  z-index: 1;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}


.ts-result {
  .card-img {
    background-position: center;
  }
}

.ts-result-link {
  position: relative;
  transition: var(--tr);

  &:hover {
    color: var(--color-black);

  }
  .card {
    transform: translateY(0px);
  }
}

@media (min-width: 576px) {
  .ts-results__vertical-list {
    position: relative !important;
    .ts-result {
      flex-direction: column-reverse;

      .card-body {
        padding: 0 0 16px 0;
      }
      .card-img {
        width: 50%;
        height: 9rem;
      }
      .ts-description-lists {
        position: absolute;
        padding-top: 0;
        top: 72px;
        padding-left: 12px;
        column-count: 2;
        width: 50%;
      }
      .ts-item__info-badge {
        top: 96px;
      }

    }
  }
}

.ts-full-screen.ts-has-horizontal-results {
  .ts-map {
    height: calc( 100% - 9rem );
  }
}

@media (min-width: 992px) {
  .ts-full-screen.ts-has-horizontal-results {
    .ts-map {
      height: calc( 100% - 13em );
    }
  }
}

@media (min-width: 992px) {
  .ts-map {
    .ts-results__horizontal {
      bottom: 11rem;
    }
  }

  .ts-results__horizontal {
    min-height: 12rem;
    .ts-result {
      height: 9rem;
      .ts-description-lists {
        display: block;
      }
    }
  }
}

.blue {
  background-color: blue !important;
}
