/*----------------------------------------------------------------------------------------------------------------------
Project:	    MyHouse
Version:        1.0.1

Default Color   #25B4E8;

Body copy:		'Roboto', sans-serif; 14px;
Headers:		'Roboto', sans-serif;

----------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------
[Table of contents]

A. Basic Styling
  -- Styling

B. Helpers

  -- Animations
  -- Borders
  -- Center
  -- Colors
  -- Column-count
  -- Background
  -- File-upload
  -- Height
  -- No gutters
  -- Opacity
  -- Overflow
  -- Position
  -- Shadow
  -- Typography
  -- Title
  -- Transitions
  -- Utilities
  -- Z-index

C. Components

  -- Badge
  -- Block
  -- Blockquote
  -- Box
  -- Buttons
  -- Breadcrumb
  -- Card
  -- Carousel
  -- Circle
  -- Collapse
  -- Description-list
  -- Dropdown
  -- Faq
  -- Feature
  -- Forms
  -- Footer
  -- Hr
  -- Inputs
  -- Item
  -- List
  -- Main
  -- Map
  -- Hero
  -- Navbar
  -- Page
  -- Pagination
  -- Partners
  -- Person
  -- Price-box
  -- Result
  -- Ribbon
  -- Sidebar
  -- Slider
  -- Tabs
  -- Quick-info

D. Plugins Styles
  -- Magnific Popup
  -- Owl Carousel

----------------------------------------------------------------------------------------------------------------------*/

/***********************************************************************************************************************
A. Basic Styling
***********************************************************************************************************************/
@import "template-specific/_styling.pcss";

/***********************************************************************************************************************
B. Helpers
***********************************************************************************************************************/
@import "helpers/_animations.pcss";
@import "helpers/_borders.pcss";
@import "helpers/_center.pcss";
@import "helpers/_colors.pcss";
@import "helpers/_column-count.pcss";
@import "helpers/_background.pcss";
@import "helpers/_file-upload.pcss";
@import "helpers/_height.pcss";
@import "helpers/_no-gutters.pcss";
@import "helpers/_opacity.pcss";
@import "helpers/_overflow.pcss";
@import "helpers/_position.pcss";
@import "helpers/_shadow.pcss";
@import "helpers/_typography.pcss";
@import "helpers/_title.pcss";
@import "helpers/_transitions.pcss";
@import "helpers/_utilities.pcss";
@import "helpers/_z-index.pcss";

/***********************************************************************************************************************
C. Components
***********************************************************************************************************************/
@import "components/_badge.pcss";
@import "components/_block.pcss";
@import "components/_blockquote.pcss";
@import "components/_box.pcss";
@import "components/_buttons.pcss";
@import "components/_breadcrumb.pcss";
@import "components/_card.pcss";
@import "components/_carousel.pcss";
@import "components/_circle.pcss";
@import "components/_collapse.pcss";
@import "components/_description-list.pcss";
@import "components/_dropdown.pcss";
@import "components/_faq.pcss";
@import "components/_feature.pcss";
@import "components/_forms.pcss";
@import "components/_footer.pcss";
@import "components/_hr.pcss";
@import "components/_inputs.pcss";
@import "components/_item.pcss";
@import "components/_list.pcss";
@import "components/_main.pcss";
@import "components/_map.pcss";
@import "components/_hero.pcss";
@import "components/_navbar.pcss";
@import "components/_page.pcss";
@import "components/_pagination.pcss";
@import "components/_partners.pcss";
@import "components/_person.pcss";
@import "components/_price-box.pcss";
@import "components/_result.pcss";
@import "components/_ribbon.pcss";
@import "components/_sidebar.pcss";
@import "components/_slider.pcss";
@import "components/_tabs.pcss";
@import "components/_quick-info.pcss";

/***********************************************************************************************************************
D. Plugins Styles
***********************************************************************************************************************/
@import '../css/owl.carousel.min.css';
@import '../css/magnific-popup.css';
@import "plugins/_magnific-popup.pcss";
@import "plugins/_owl-carousel.pcss";
@import "plugins/_dragscroll.pcss";
